<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.mapper.MoimMapper">
	<resultMap type="moim" id="moimDetail">
		<result column="moim_id" property="moimId" />
		<result column="moim_img" property="moimImg" />
		<result column="title" property="title" />
		<result column="sdate" property="sDate" />
		<result column="edate" property="eDate" />
		<result column="reg_date" property="regDate" />
		<result column="apply_sdate" property="applySDate" />
		<result column="apply_edate" property="applyEDate" />
		<result column="place" property="place" />
		<result column="category_kind" property="categoryKind" />
		<result column="content" property="content" />
		<result column="detail_img1" property="detailImg1" />
		<result column="detail_img2" property="detailImg2" />
		<result column="detail_img3" property="detailImg3" />
		<result column="detail_img4" property="detailImg4" />
		<result column="detail_img5" property="detailImg5" />
	</resultMap>

	<resultMap type="moim" id="moimList">
		<result column="moim_img" property="moimImg" />
		<result column="title" property="title" />
		<result column="sdate" property="sDate" />
		<result column="edate" property="eDate" />
	</resultMap>

	<select id="select" parameterType="String"
		resultMap="moimDetail">
		SELECT * FROM MOIM WHERE MOIM_ID=#{obj}
	</select>
	<select id="selectall" resultMap="moimList">
		SELECT
		MOIM_IMG,TITLE,SDATE,EDATE FROM MOIM
	</select>
	<insert id="insert" parameterType="moim">
		INSERT INTO MOIM VALUES
		(TO_CHAR(SEQ_MOIM.NEXTVAL),#{moimImg},#{title},#{sDate},#{eDate},SYSDATE,#{applySDate},#{applyEDate},#{place},#{categoryId},#{userId},#{sTime},#{eTime},#{applySTime},#{applyETime})
	</insert>
	<update id="update" parameterType="moim">
		UPDATE MOIM SET
		MOIM_IMG=#{moimImg},TITLE=#{title},SDATE=#{sDate},EDATE=#{eDate},
		STIME=#{sTime}, ETIME=#{eTime}, REG_DATE=#{regDate},
		APPLY_SDATE=#{applySDate},APPLY_EDATE=#{applyEDate},APPLY_STIME=#{applySTime},APPLY_ETIME=#{applyETime},PLACE=#{place}
		WHERE
		MOIM_ID=#{moimId}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM MOIM WHERE
		MOIM_ID=#{obj}
	</delete>

	<insert id="insertDetail" parameterType="moim">
		INSERT INTO DETAIL
		VALUES
		(#{detailId},#{moimId},#{content},#{detailImg1},#{detailImg2},#{detailImg3},#{detailImg4},#{detailImg5})
	</insert>
	<update id="updateDetail" parameterType="moim">
		UPDATE DETAIL SET
		CONTENT=#{content},DETAIL_IMG1=#{detailImg1},DETAIL_IMG2=#{detailImg2},DETAIL_IMG3=#{detailImg3},DETAIL_IMG4=#{detailImg4},DETAIL_IMG5=#{detailImg5}
		WHERE
		DETAIL_ID=#{detailId}
	</update>
	<delete id="deleteDetail" parameterType="String">
		DELETE FROM DETAIL WHERE
		DETAIL_ID=#{obj}
	</delete>
</mapper>






