<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.st.user.User" alias="user"/>
		<typeAlias type="com.st.moim.Moim" alias="moim"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/st/config/usermapper.xml"/>
		<mapper resource="com/st/config/moimmapper.xml"/>
		<mapper resource="com/st/config/searchmapper.xml"/>
		<mapper resource="com/st/config/joinmapper.xml"/>
		<mapper resource="com/st/config/usermoimmapper.xml"/>
	</mappers>
	
</configuration>






