<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.mapper.UserMapper">
	<resultMap type="user" id="userResult">
		<result column="user_id" property="id"/>
		<result column="pwd" property="pwd"/>
		<result column="name" property="name"/>
		<result column="birth" property="birth"/>
	</resultMap>
	
	<select id="select" parameterType="String" resultMap="userResult">
		SELECT * FROM USERS WHERE USER_ID=#{id}
	</select>
	<select id="selectall" resultType="user">
		SELECT * FROM USERS
	</select>
	<insert id="insert" parameterType="user">
		INSERT INTO USERS VALUES (#{id},#{pwd},#{name},#{birth},DEFAULT)
	</insert>
	<update id="update" parameterType="user">
		UPDATE USERS SET PWD=#{pwd} WHERE USER_ID=#{id}
	</update>
	<delete id="delete" parameterType="user">
		DELETE FROM USERS WHERE USER_ID=#{id},PWD=#{pwd}
	</delete>
	
</mapper>






